* {
    background-color: rgb(32, 4, 33);
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    width: 60vw;
    height: 100vh;
    background-color: #29022b;
}

aside {
    width: 20vw;
    height: 100vh;
    background-color: #3c023f;
}